#slider-button {
  font-family: 'Poppins' !important;
  background-color: #FAE194;
  color: white;
  padding: 15px 30px;
  width: 230px;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  transition: transform 0.2s;
  margin-right: 10px;
}

#slider-button:hover {
  text-decoration: none;
  color: #fff;
  transform: scale(1.15);
  background-color:#FAE194;
}

#slider-button:nth-child(2) {
  margin-left: 15px;
}
#slider-button:nth-child(3){
  margin-left: 15px;
}


.audio{
  display: flex;
  justify-content: center;
}


